{% extends 'base.html' %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container form-custom mt-5 shadow-lg p-5 form-container">
    <h3 class="text-center  ">Edit Leave Application Form</h3>

    <form method="post" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class=" w-100">
             {{ edit_form | crispy }}
        </div>
       <div>
            <button class="btn btn-primary my-2 " name='edit'>Edit</button>
          
       </div>
    </form>
</div>
{% endblock content %}