{% extends 'base.html' %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block form %}
{% load crispy_forms_tags %}

<div class="container form-custom mt-5 shadow-lg p-5 form-container">
<h3 class="text-center  ">Leave Application Form</h3>
{% comment %} messages errors shown {% endcomment %}
{% if messages %}
    <div class="text-center messages">
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-warning{% endif %}" role="alert">
        <div class="list-group_item list-group-warning">{{ message }}</div>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% comment %} form container {% endcomment %}
<form method="post" class="">
    {% csrf_token %}
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="{{request.user.username}} "disabled>
    </div>
    {{ post_form|crispy }}
<button class="btn btn-primary mt-2">Submit</button>
</form>
</div>
{% endblock form %}