{% extends 'base.html' %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block content %}
{% load crispy_forms_tags %}

{% comment %} form container {% endcomment %}
<div class="form-custom shadow-lg login-container d-flex flex-column align-items-center">
    <h3 class="text-center mb-2">Login <i class="bi bi-box-arrow-in-right"></i></h3>
    {% comment %} messages errors shown {% endcomment %}
    {% if messages %}
        <div class="text-center messages d-flex align-items-center justify-content-center ">
        {% for message in messages %}
            <div class="py-2 my-2 alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-warning{% endif %}" role="alert">
            {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <form method="post" class="d-flex flex-column  w-100">
        {% csrf_token %}
        {{ login_form|crispy }}
    <button class="btn btn-primary mt-2 w-auto ">Submit</button>
    <a href="{% url 'register_user' %}" class="btn btn-primary mt-2">Register New Account</a>
    </form>
</div>
{% endblock content %}